*{
    margin: 0%;
    padding: 0%;
}

section>nav>ul{
    list-style: none;
    display: flex;
    float: right;
    margin: 20px;
}

section>nav>ul>li{
    margin-right: 20px;
    font-size: small;
}
section>nav>ul>li>button{
    background-color:#EC4067;
    padding: 2 5 2 5;
    color: white;
    border-radius: 6px;
}
    
