*{
    margin: 0%;
    padding: 0%;
}

section>nav>ul{
    list-style: none;
    display: flex;
    float: right;
    margin: 20px;
}

section>nav>ul>li{
    margin-right: 20px;
    font-size: small;
}
section>nav>ul>li>button{
    background-color:#EC4067;
    padding: 2 5 2 5;
    color: white;
    border-radius: 6px;
    border: 1px solid #EC4067;
}

section>nav>.para1{
    margin: 30px;
    color: #EC4067;
    font-weight: bold;
}

section>nav>p>span{
    color: black;
}

section>.container1{
    margin-left: 50px;
}

section>div>.para2{
    font-size: small;
    margin-bottom: 5px;
}

section>div>.para3{
    color: #EC4067;
    font-size: large;
    margin-bottom: 10px;
}
section>.container2{
    margin-left: 50px;
}

section>div>#inner>.but1{
    background-color: #EC4067;
    border-radius: 5px;
    border: 1px solid #EC4067;
    margin: 20px;
    color: white;
}

.sect2{
    display: flex;
    margin-top: 100px;
    align-items: center;
}

section>.container3{
    margin:20 30 30 50
}

section>div>.para5{
    margin-bottom: 20px;
}

section>div>p>span{
    font-size: x-small;
}

section>div>.hd1{
    font-size: medium;
}

section>div>.but3{
    background-color: #EC4067;
    border-radius: 5px;
    border: 1px solid #EC4067 ;
    color: white;
    margin-top: 20px;
}

.sect3{
    display: flex;
    align-items: center;
}

section>div>.hd2{
    font-size: medium;
    margin-bottom: 20px;
}

section>div>.but4{
    color: white;
    background-color: #EC4067;
    margin: 30 30 50 20px;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

section>div>.image3{
    margin:10px;
}
.sect4{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

section>div>.image4{
    margin: 10px;
}

section>div>.hd3{
    font-size: medium;
}

section>div>.but5{
    color: white;
    background-color: #EC4067;
    margin: 30px;
    border-radius: 5px;
    border: 1px solid #EC4067;
}

.sect5{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.para9{
    margin: 30px;
}

p>sup{
    font-size: xx-small;
}

section>.container9{
    background-image: url(/Assets\ /.container9);
}

section>div>#mentor1{
    font-size: xx-small;
}

section>div>div>.para11{
    color: #EC4067;
    margin:5px;
}

section>div>div>.but6{
    background-color: #EC4067;
    color: white;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

section>.container10{
    background-image: url(/Assets\ /.container10);
}

section>div>#mentor2{
    font-size: xx-small;
}

section>div>div>.para14{
    color: #EC4067;
    margin: 5px;
}

section>div>div>.but7{
    background-color: #EC4067;
    color: white;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

section>.container11{
    background-image: url(/Assets\ /.container11);
}

section>div>div>.para17{
    color: #EC4067;
    margin: 5px;
}

section>div>div>.but8{
    background-color: #EC4067;
    color: white;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

section>div>#mentor3{
    font-size:x-small;
}

section>.container12{
    background-image: url(/Assets\ /.container12)
}

section>div>#mentor4{
    font-size: xx-small;
}

section>div>div>.para20{
    color: #EC4067;
    margin: 5px;
}

section>div>div>.but9{
    background-color: #EC4067;
    color: white;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

.sect6{
    display: flex;
    margin: 40px;
}

p>span{
    font-size: xx-small;
}

section>div>.para23{
    font-size: x-small;
    margin: 20px;
}


section>div>.para24{
    color: #EC4067;
}


section>div>.para25{
    font-size: small;
}

section>div>.but10{
    background-color: #EC4067;
    color: white;
    border: 1px solid #EC4067;
    border-radius: 5px;
    margin: 20px;
}

.sect7{
    display: flex;
    align-items: center;
    margin: 30px;
}

section>.para26{
    color: #EC4067;
    margin: 30px;
}

section>p>.but11{
    color: white;
    background-color: #EC4067;
    margin: 30
    ;
}

    
