*{
    margin: 0%;
    padding: 0%;
}

section>nav>ul{
    list-style: none;
    display: flex;
    float: right;
    margin: 20px;
}

section>nav>ul>li{
    margin-right: 20px;
    font-size: small;
}
section>nav>ul>li>button{
    background-color:#EC4067;
    padding: 2 5 2 5;
    color: white;
    border-radius: 6px;
}

section>nav>.para1{
    margin: 30px;
    color: #EC4067;
    font-weight: bold;
}

section>nav>p>span{
    color: black;
}

section>.container1{
    margin-left: 50px;
}

section>div>.para2{
    font-size: small;
    margin-bottom: 5px;
}

section>div>.para3{
    color: #EC4067;
    font-size: large;
    margin-bottom: 10px;
}
section>.container2{
    margin-left: 50px;
}

section>div>#inner>.but1{
    background-color: #EC4067;
    border-radius: 5px;
    border: 1px solid #EC4067;
    margin: 20px;
    color: white;
}

.sect2{
    display: flex;
    margin-top: 100px;
    align-items: center;
}

section>.container3{
    margin:20 30 30 50
}

section>div>.para5{
    margin-bottom: 20px;
}

section>div>p>span{
    font-size: x-small;
}

section>div>.hd1{
    font-size: medium;
}

section>div>.but3{
    background-color: #EC4067;
    border-radius: 5px;
    border: 1px solid #EC4067 ;
    color: white;
    margin-top: 20px;
}

.sect3{
    display: flex;
    align-items: center;
}

section>div>.hd2{
    font-size: medium;
    margin-bottom: 20px;
}

section>div>.but4{
    color: white;
    background-color: #EC4067;
    margin: 30 30 50 20px;
    border: 1px solid #EC4067;
    border-radius: 5px;
}

section>div>.image3{
    margin-left: 30px;
}
.sect4{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

section>div>.image4{
    margin: 30px;
}

section>div>.hd3{
    font-size: medium;
}

section>div>.but5{
    color: white;
    background-color: #EC4067;
    margin: 30px;
    border-radius: 5px;
    border: 1px solid #EC4067;
}

.sect5{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
